
<%= form_for(@customer) do |customer_form| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= customer_form.label :acct_no %><br />
    <%= customer_form.text_field :acct_no %>
  </div>
  <div class="field">
    <%= customer_form.label :acct_name %><br />
    <%= customer_form.text_field :acct_name %>
  </div>
  <div class="field">
    <%= customer_form.label :balance %><br />
    <%= customer_form.text_area :balance %>
  </div>
  
  <div class="actions">
    <%= customer_form.submit %>
  </div>
<% end %>
